:root {
  position: relative;
  font-size: 62.5%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
}

::-ms-clear {
  display: none;
}

/* :active {
  -webkit-tap-highlight-color: transparent;
}
 */

button:focus,
:focus {
  outline: none;
}

h1 {

}

